@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #181818;
    font-family: 'Inter', sans-serif;
}

.background-corner{
    background-color: black;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    position: absolute;
    display: flex;
    z-index: 1;
}

.name, .artists, .liked-songs, .logout{
    z-index: 2;
}

.name{
    color: white;
    top: 60px;
    background-color: black;
    font-weight: 700;
    left: 60px;
    position: absolute;
    font-size: 28px;
    display: flex;
    letter-spacing: 1px;
}

.artists{
    font-size: 19px;
    font-weight: 600;
    color: white;
    background-color: black;
    top: 120px;
    left: 80px;
    display: flex;
    position: absolute;
    border: none;
    cursor: pointer;
}

.liked-songs{
    font-size: 19px;
    font-weight: 600;
    color: white;
    background-color: black;
    top: 160px;
    left: 50px;
    display: flex;
    position: absolute;
    border: none;
    cursor: pointer;
}

.logout{
    font-size: 19px;
    font-weight: 600;
    color: white;
    background-color: black;
    top: 600px;
    left: 90px;
    display: flex;
    position: absolute;
    border: none;
    cursor: pointer;
}

.icon{
    background-color: black;
    border: none;
    position: absolute;
}

#artists-page{
    top: 80px;
    left: 300px;
    color: white;
    font-size: 28px;
    font-weight: 700;
    position: absolute;
}

#button:hover{
    color: #016b2694;
}

#button:active{
    color: #016b26;
}

.artist1-box{
    background-color: #1F1F1F;
    position: absolute;
    height: 210px;
    width: 160px;
    left: 300px;
    top: 150px;
    border-radius: 5px;
    z-index: 1;
}
.artist1-pic{
    position: absolute;
    top: 160px;
    left: 315px;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    z-index: 2;
}
.artist1-name{
    color: white;
    font-size: 17px;
    font-weight: 500;
    position: absolute;
    top: 300px;
    left: 310px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}
.artist1-section{
    color: #504f4f;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: 330px;
    left: 310px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}

.artist2-box{
    background-color: #1F1F1F;
    position: absolute;
    height: 210px;
    width: 160px;
    left: 480px;
    top: 150px;
    border-radius: 5px;
    z-index: 1;
}
.artist2-pic{
    position: absolute;
    top: 160px;
    left: 495px;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    z-index: 2;
}
.artist2-name{
    color: white;
    font-size: 17px;
    font-weight: 500;
    position: absolute;
    top: 300px;
    left: 490px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}
.artist2-section{
    color: #504f4f;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: 330px;
    left: 490px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}

.artist3-box{
    background-color: #1F1F1F;
    position: absolute;
    height: 210px;
    width: 160px;
    left: 660px;
    top: 150px;
    border-radius: 5px;
    z-index: 1;
}
.artist3-pic{
    position: absolute;
    top: 160px;
    left: 675px;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    z-index: 2;
}
.artist3-name{
    color: white;
    font-size: 17px;
    font-weight: 500;
    position: absolute;
    top: 300px;
    left: 670px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}
.artist3-section{
    color: #504f4f;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: 330px;
    left: 670px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}

.artist4-box{
    background-color: #1F1F1F;
    position: absolute;
    height: 210px;
    width: 160px;
    left: 840px;
    top: 150px;
    border-radius: 5px;
    z-index: 1;
}
.artist4-pic{
    position: absolute;
    top: 160px;
    left: 855px;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    z-index: 2;
}
.artist4-name{
    color: white;
    font-size: 17px;
    font-weight: 500;
    position: absolute;
    top: 300px;
    left: 850px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}
.artist4-section{
    color: #504f4f;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: 330px;
    left: 850px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}

.artist5-box{
    background-color: #1F1F1F;
    position: absolute;
    height: 210px;
    width: 160px;
    left: 1020px;
    top: 150px;
    border-radius: 5px;
    z-index: 1;
}
.artist5-pic{
    position: absolute;
    top: 160px;
    left: 1035px;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    z-index: 2;
}
.artist5-name{
    color: white;
    font-size: 17px;
    font-weight: 500;
    position: absolute;
    top: 300px;
    left: 1030px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}
.artist5-section{
    color: #504f4f;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: 330px;
    left: 1030px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}

.artist6-box{
    background-color: #1F1F1F;
    position: absolute;
    height: 210px;
    width: 160px;
    left: 300px;
    top: 400px;
    border-radius: 5px;
    z-index: 1;
}
.artist6-pic{
    position: absolute;
    top: 410px;
    left: 315px;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    z-index: 2;
}
.artist6-name{
    color: white;
    font-size: 17px;
    font-weight: 500;
    position: absolute;
    top: 550px;
    left: 310px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}
.artist6-section{
    color: #504f4f;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: 580px;
    left: 310px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}

.artist7-box{
    background-color: #1F1F1F;
    position: absolute;
    height: 210px;
    width: 160px;
    left: 480px;
    top: 400px;
    border-radius: 5px;
    z-index: 1;
}
.artist7-pic{
    position: absolute;
    top: 410px;
    left: 495px;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    z-index: 2;
}
.artist7-name{
    color: white;
    font-size: 17px;
    font-weight: 500;
    position: absolute;
    top: 550px;
    left: 490px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}
.artist7-section{
    color: #504f4f;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: 580px;
    left: 490px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}

.artist8-box{
    background-color: #1F1F1F;
    position: absolute;
    height: 210px;
    width: 160px;
    left: 660px;
    top: 400px;
    border-radius: 5px;
    z-index: 1;
}
.artist8-pic{
    position: absolute;
    top: 410px;
    left: 675px;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    z-index: 2;
}
.artist8-name{
    color: white;
    font-size: 17px;
    font-weight: 500;
    position: absolute;
    top: 550px;
    left: 670px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}
.artist8-section{
    color: #504f4f;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: 580px;
    left: 670px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}

.artist9-box{
    background-color: #1F1F1F;
    position: absolute;
    height: 210px;
    width: 160px;
    left: 840px;
    top: 400px;
    border-radius: 5px;
    z-index: 1;
}
.artist9-pic{
    position: absolute;
    top: 410px;
    left: 855px;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    z-index: 2;
}
.artist9-name{
    color: white;
    font-size: 17px;
    font-weight: 500;
    position: absolute;
    top: 550px;
    left: 850px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}
.artist9-section{
    color: #504f4f;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: 580px;
    left: 850px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}

.artist10-box{
    background-color: #1F1F1F;
    position: absolute;
    height: 210px;
    width: 160px;
    left: 1020px;
    top: 400px;
    border-radius: 5px;
    z-index: 1;
}
.artist10-pic{
    position: absolute;
    top: 410px;
    left: 1035px;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    z-index: 2;
}
.artist10-name{
    color: white;
    font-size: 17px;
    font-weight: 500;
    position: absolute;
    top: 550px;
    left: 1030px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}
.artist10-section{
    color: #504f4f;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: 580px;
    left: 1030px;
    margin: 0;
    background-color: #1F1F1F;
    z-index: 2;
}


